html{
    font-size: 62.5%;
}
body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.grid-container{
    display: grid;
    grid-template-areas: 
    'header' 'main' 'footer';
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 1fr 5rem ;
    height: 100%;
}
header{
    grid-area: header;
    background-color: #203040;
    color: #ffffff;
}
main{
    grid-area: main;

}
footer{
    grid-area: footer;
    background-color: #203040;
    color: #ffffff;
}

a{
    text-decoration: none;
}
a:hover{
    color: #ff8000;
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
/* header*/

#brand{
    color: white;
    font-size: 2rem;
    font-weight: bold;
    margin: 1rem;
}
header a{
    color: white;
    font-size: 1.5rem;
    margin: 1rem;
}
/*footer */
.row.center{
    justify-content:center;
    font-size:1.5rem;
}

/*card design */
.card{
    border: .1rem black solid;
    margin: 3rem 2rem;
    border-radius: 10px;
    
}
.card img{
    max-width: 290px;
    width: 100%;
}
.card-body{
    padding: 10px;
    background-color: #f8f8f8;

}
.card-body >*{
    margin-bottom: 0.6rem;
  
}
.card-body .name{
    color: teal;
    font-size: 1.5rem;
}
.card-body .price span{
    font-size: 2rem;
    font-weight: 500;
}
.rating span{
    color: #f0c040;
}